* {
  all: unset;
  font-family: "Source Code Pro";
  font-size: 16pt;
}

.bar {
  color: #f8f8f2;
  background: #080a16;
}

.workspace {
  background: #000000;
  font-weight: 600;
}

.workspace-current {
  color: #ff92df;
  font-weight: 700;
  border-bottom: 2px solid #ff92df;
}

.time {
}

.date {
}
