* {
    font-family: "Source Code Pro";
    font-size: 20px;
    background-color: #080a16;
}

#workspaces {
    font-weight: 600;
    background-color: #080a16;
}

#workspaces button {
    padding: 0px 8px;
    border-radius: 1px;
    border-left: none;
    border-right: none;
    color: #8298c4;
    background-color: #080a16;
}

#workspaces button.focused {
    border-bottom: 3px solid #ffaaff;
    border-top: 3px solid #080a16;
    border-left: none;
    border-right: none;
    color: #ffaaff;
}

#workspaces button.urgent {
    border-left: none;
    border-right: none;
    color: #ff713e;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    border: inherit;
}

#workspaces button.focused:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    border-bottom: 3px solid #ffaaff;
    border-top: 3px solid #080a16;
    border-left: none;
    border-right: none;
}

#workspaces button.urgent:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    border: inherit;
}

#clock.time {
    color: #ffccdd;
    padding: 0px 12px;
}

#clock.date {
    color: #bbeeff;
    padding: 0px 12px;
}

#cpu {
    color: #ddbbff;
    padding: 0px 12px;
}

#memory {
    color: #bbeeff;
    padding: 0px 12px;
}

#temperature {
    color: #aaffcc;
    padding: 0px 12px;
}

#temperature.critical {
    color: #ff713e;
    padding: 0px 12px;
}

#custom-mail.new_mail {
    color: #ffaaff;
    padding: 0px 12px;
}

#custom-mail.no_mail {
    color: #ffccdd;
    padding: 0px 12px;
}

#custom-mail.inactive {
    color: #ff713e;
    padding: 0px 12px;
}
