[user]
    email = "42812654+WGUNDERWOOD@users.noreply.github.com"
    name = "William G Underwood"

[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
    attributesfile = "~/.gitattributes"

[alias]
    ad = "add"
    br = "branch"
    ci = "commit -v"
    cl = "clone"
    co = "checkout"
    di = "diff"
    din = "diff --name-only"
    dic = "diff --compact-summary"
    dis = "diff --staged"
    dih = "diff HEAD~1"
    fe = "fetch --all"
    hi = "log --graph --full-history --all --pretty=format:'%Cred%h%Creset %Cblue%ah%Creset %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset'"
    lg = "log --graph --pretty=format:'%Cred%h%Creset %Cblue%ah%Creset %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset'"
    me = "merge"
    pl = "pull"
    ps = "push"
    re = "rebase"
    st = "status"
    t = "log --tags --simplify-by-decoration --pretty=format:'%Cred%h%Creset %Cblue%ad%Creset %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=format:'%Y-%m-%d %H:%M:%S' --date=iso"
    tree = "ls-tree -r --name-only"
    tr = "tree"
    unstage = "reset HEAD --"
    un = "unstage"

[credential]
    helper = cache

[diff]
    tool = vimdiff

[diff "image"]
    command = img-diff

[diff "pdf"]
    command = diffpdf

[pull]
    rebase = false

[credential "https://git.overleaf.com"]
    helper = store

[init]
    defaultBranch = main

[color]
    ui = true

[color "diff"]
    meta = "yellow"
    frag = "magenta bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"
